{% extends 'layout.html.twig' %}

{% block title %}
Categories Quete MVC
{% endblock %}

{% block content %}
<section>
    <h1>Les categories</h1>
    <ul>
        {% for category in categories %}
        <li><a href="/category/{{ category.id }}">{{ category.id }} . {{ category.category }}</li>
        {% endfor %}
    </ul>
    <a href='/category/add'>add new category</a>
</section>

{% endblock %}