{% extends 'layout.html.twig' %}
{% block title %}
    Items Quete MVC
{% endblock %}
{% block content %}
    <section>
        <h1>Les items</h1>
        <ul>
            {% for item in items %}
                <li><a href="/item/{{ item.id }}">{{ item.id }} . {{ item.title }}</li>
            {% endfor %}
        </ul>
        <a href='/item/add'>add new item</a>
    </section>
{% endblock %}